<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><% if @task.completed %>
       <%= "Task is completed" %>
   <% else %>
       <%= "Task is not completed" %>
   <% end %>
</p>

<%= link_to "Edit", edit_task_path(@task) %>

<%= link_to "Back", tasks_path %>
